<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>Cover Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/cover.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  <style type="text/css" id="holderjs-style"></style></head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Alexa Dewit</h3>
              <ul class="nav masthead-nav">
                <li><a href="#">Home</a></li>
                <li class="active"><a href="#">News</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            </div>
          </div>


            <div class="inner cover">
                <h1 class="cover-heading">News Section</h1>
            <p class="lead">Here is the personal news section</p>
                  <div class="container news">
                    <h2>This is about me <small> and maybe you</small></h2>
                    <p>No escape from the mass mind rape.
                    Play it again jack and then rewind the tape.
                    Play it again and again and again.
                    Until ya mind is locked in.
                    Believin' all the lies that they are tellin' ya.
                    Buying all the products that they are selling ya.
                    They say jump.
                    Ya say how high.
                    Ya brain dead.
                    Ya gotta fuckin' bullet in your head.
                    <br>
                    Just victims of the in-house drive-by.
                    They say jump, you say how high </p> 
               </div>  
                <div class="container news">
                    <h2>This is about me <small> and maybe you</small></h2>
                    <p>No escape from the mass mind rape.
                    Play it again jack and then rewind the tape.
                    Play it again and again and again.
                    Until ya mind is locked in.
                    Believin' all the lies that they are tellin' ya.
                    Buying all the products that they are selling ya.
                    They say jump.
                    Ya say how high.
                    Ya brain dead.
                    Ya gotta fuckin' bullet in your head.
                    <br>
                    Just victims of the in-house drive-by.
                    They say jump, you say how high </p> 
               </div>  
                <div class="container news">
                    <h2>This is about me <small> and maybe you</small></h2>
                    <p>No escape from the mass mind rape.
                    Play it again jack and then rewind the tape.
                    Play it again and again and again.
                    Until ya mind is locked in.
                    Believin' all the lies that they are tellin' ya.
                    Buying all the products that they are selling ya.
                    They say jump.
                    Ya say how high.
                    Ya brain dead.
                    Ya gotta fuckin' bullet in your head.
                    <br>
                    Just victims of the in-house drive-by.
                    They say jump, you say how high </p> 
               </div>  
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/docs.js"></script>
  
</body>
</html>
